body {
    width: 100%;
}
h1{
    text-align: center;
    padding-bottom:0;
    margin-bottom: 0;
}
h2{
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}
.ingredients {
  display: grid;
  grid-template-columns: auto auto auto;
}
.methods {
    padding-left:50px;
}
button {
  background-color: rgb(104, 102, 190);
  border-radius: 45%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.result {
  display: grid;
  grid-template-columns: auto auto auto;
}
